{
  "TitleBtnGrp.btnNew": "New Game",
  "TitleBtnGrp.btnLoad": "Load",
  "TitleBtnGrp.btnExtra": "Extra",
  "TitleBtnGrp.btnConfig": "Config",
  "TitleBtnGrp.btnQuit": "Quit",
  "SysMenus.btnSave": "Save",
  "SysMenus.btnLoad": "Load",
  "SysMenus.btnBacklog": "Backlog",
  "SysMenus.btnAuto": "Auto",
  "SysMenus.btnSkip": "Skip",
  "SysMenus.btnConfig": "Config",
  "SysMenus.btnTitle": "Title",
  "UIConf.btnVisual": "Visual",
  "UIConf.btnText": "Text",
  "UIConf.btnSound": "Sound",
  "UIConf.btnVoice": "Voice",
  "UIConf.btnClose": "Close",
  "grp_visual.slider_brightness": "Brightness",
  "grp_visual.slider_contrast": "Contrast",
  "grp_text.slider_speed": "Text Speed",
  "grp_text.slider_auto_speed": "Auto Speed",
  "grp_sound.slider_bgm": "BGM Volume",
  "grp_sound.slider_se": "SE Volume",
  "grp_voice.slider_voice": "Voice Volume"
}
